@model CatalogoMusicas.Models.Podcast

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Podcast</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Host)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Host)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalReproducoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalReproducoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCurtidas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCurtidas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classificacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPodcast">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
